/* .container{
    height: 200px !important;
} */



main{
    padding-top: 40px !important;
    margin-bottom: 20px;
}


[data-rf-reset] a[target="_blank"]::after{
    display: none;

}